
button {
  all: unset;
}

.SelectTrigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 210px;
  height: 36px;
  margin-bottom: 20px;
  padding: 6px 12px 5px;


  font-size: 13px;
  line-height: 1;
  color: white; 

  border: 1px solid var(--color-dark-300);
  border-radius: 1px;

  &:hover{
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);
  }

  &:focus{
    border: 2px solid var(--color-info-700);
  }

  &:disabled{
    color:var(--color-dark-300);
    border: 1px solid var(--color-dark-300);
  }

}

.SelectItem {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 36px;
  padding: 6px 2px 5px 12px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: white;

  outline: none;

  &:hover{
    color: var(--color-primary-300);
    background-color: var(--color-primary-900);
  }


}

.SelectItem[data-highlighted] {
  color: var(--color-primary-300);
  background-color: var(--color-primary-900);
  outline: none;
}


.SelectItem[data-disabled] {
  pointer-events: none;
  color: #999;
}

.SelectViewport {
  overflow: auto;

  color: white;

  border: 1px solid var(--color-dark-300);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;

}

.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}

.label{
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);

}

.labelDisabled{
  color: var(--color-dark-300);
}